Schema/OMTD-SHARE-TextSpecific.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by ﻿Type ur fucking name ! (Type ur Company -.-) -->
<xs:schema xmlns:ms="http://www.meta-share.org/OMTD-SHARE_XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.meta-share.org/OMTD-SHARE_XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1" xml:lang="en">
	<xs:include schemaLocation="./OMTD-SHARE-GlobalTypes.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-ResourceCommon.xsd"/>
	<xs:complexType name="textFormatInfoType">
		<xs:annotation/>
		<xs:sequence>
			<xs:element name="dataFormat">
				<xs:annotation>
					<xs:documentation>Specifies the format that is used since often the mime type will not be sufficient for machine processing; NOTE: normally the format should be represented as a combination of the mimetype (e.g. application/xml) and some name and link to the documentation about the supplementary conventions used (e.g xces, alvisED etc.)</xs:documentation>
					<xs:appinfo>
						<xs:label>Data format</xs:label>
						<usage-ugc>Automatically filled in with the dataFormat of the publications</usage-ugc>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:enumeration value="text/plain">
							<xs:annotation>
								<xs:appinfo>
									<label>Plain text</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/vnd.xmi+xml">
							<xs:annotation>
								<xs:appinfo>
									<label>XMI</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/xml">
							<xs:annotation>
								<xs:appinfo>
									<label>XML</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/x-xces+xml">
							<xs:annotation>
								<xs:appinfo>
									<label>XCES</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/tei+xml">
							<xs:annotation>
								<xs:appinfo>
									<label>TEI</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/rdf+xml">
							<xs:annotation>
								<xs:appinfo>
									<label>RDF</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/xhtml+xml">
							<xs:annotation>
								<xs:appinfo>
									<label>XHTML</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/emma+xml">
							<xs:annotation>
								<xs:appinfo>
									<label>EMMA</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/pls+xml">
							<xs:annotation>
								<xs:appinfo>
									<label>PLS</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/postscript">
							<xs:annotation>
								<xs:appinfo>
									<label>postscript</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="text/sgml">
							<xs:annotation>
								<xs:appinfo>
									<label>SGML</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="text/html">
							<xs:annotation>
								<xs:appinfo>
									<label>HTML</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/x-tex">
							<xs:annotation>
								<xs:appinfo>
									<label>TEX</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/rtf">
							<xs:annotation>
								<xs:appinfo>
									<label>RTF</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/json+ld">
							<xs:annotation>
								<xs:appinfo>
									<label>JSON/LD</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/x-latex">
							<xs:annotation>
								<xs:appinfo>
									<label>LATEX</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="text/csv">
							<xs:annotation>
								<xs:appinfo>
									<label>CSV (Comma Separated Values)</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="text/tab-separated-values">
							<xs:annotation>
								<xs:appinfo>
									<label>TSV (Tab Separated Values)</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/pdf">
							<xs:annotation>
								<xs:appinfo>
									<label>PDF</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/x-msaccess">
							<xs:annotation>
								<xs:appinfo>
									<label>MS-Access database</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/msword">
							<xs:annotation>
								<xs:appinfo>
									<label>MS-Word</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="application/vnd.ms-excel">
							<xs:annotation>
								<xs:appinfo>
									<label>MS-Excel</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="text/turtle">
							<xs:annotation>
								<xs:appinfo>
									<label>Turtle</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="aclAnthology">
							<xs:annotation>
								<xs:appinfo>
									<label>ACL anthology</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="alvisEnrichedDocument">
							<xs:annotation>
								<xs:appinfo>
									<label>ALVIS Enriched Document</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="bnc">
							<xs:annotation>
								<xs:appinfo>
									<label>BNC</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="bioNLP">
							<xs:annotation>
								<xs:appinfo>
									<label>BioNLP Shared Task</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="bioNLP; format-variant=ST2013a1_a2">
							<xs:annotation>
								<xs:appinfo>
									<label>BioNLP Shared Task 2013 a1/a2</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="cadixeJSON">
							<xs:annotation>
								<xs:appinfo>
									<label>Cadixe</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="conll2000">
							<xs:annotation>
								<xs:appinfo>
									<label>CoNLL 2000</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="conll2002">
							<xs:annotation>
								<xs:appinfo>
									<label>CoNLL 2002</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="conll2006">
							<xs:annotation>
								<xs:appinfo>
									<label>CoNLL 2006</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="conll2007">
							<xs:annotation>
								<xs:appinfo>
									<label>CoNLL 2007</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="conll2009">
							<xs:annotation>
								<xs:appinfo>
									<label>CoNLL 2009</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="conll2012">
							<xs:annotation>
								<xs:appinfo>
									<label>CoNLL 2012</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="dataSift">
							<xs:annotation>
								<xs:appinfo>
									<label>DataSift</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="factoredTagLem">
							<xs:annotation>
								<xs:appinfo>
									<label>Factored Tag Lemma</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="gate">
							<xs:annotation>
								<xs:appinfo>
									<label>GATE</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="genia">
							<xs:annotation>
								<xs:appinfo>
									<label>Genia</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="graf">
							<xs:annotation>
								<xs:appinfo>
									<label>GrAF</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="html5Microdata">
							<xs:annotation>
								<xs:appinfo>
									<label>HTML5 Microdata</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="i2b2">
							<xs:annotation>
								<xs:appinfo>
									<label>I2B2</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="imsCwb">
							<xs:annotation>
								<xs:appinfo>
									<label>IMS CorpusWorkBench</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="jdbc">
							<xs:annotation>
								<xs:appinfo>
									<label>JAVA Database Connectivity</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="keaCorpus">
							<xs:annotation>
								<xs:appinfo>
									<label>KEA corpus</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="lll">
							<xs:annotation>
								<xs:appinfo>
									<label>LLL</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="negraExport">
							<xs:annotation>
								<xs:appinfo>
									<label>NEGRA export</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="ptb; format-variant=chunked">
							<xs:annotation>
								<xs:appinfo>
									<label>Penn Treebank Chunked</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="ptb; format-variant=combined">
							<xs:annotation>
								<xs:appinfo>
									<label>Penn Treebank Combined</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="pml">
							<xs:annotation>
								<xs:appinfo>
									<label>Prague Markup Language</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="relp">
							<xs:annotation>
								<xs:appinfo>
									<label>RELP</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="aimedCorpus">
							<xs:annotation>
								<xs:appinfo>
									<label>AIMED Corpus</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="tiger">
							<xs:annotation>
								<xs:appinfo>
									<label>Tiger</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="tupp-dz">
							<xs:annotation>
								<xs:appinfo>
									<label>TüPP-D/Z corpus</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="twitter">
							<xs:annotation>
								<xs:appinfo>
									<label>Twitter</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="xces; format-variant=ilsp">
							<xs:annotation>
								<xs:appinfo>
									<label>XCES - ILSP Variant</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="web1t">
							<xs:annotation>
								<xs:appinfo>
									<label>Web1T corpus</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="uimaCASDump">
							<xs:annotation>
								<xs:appinfo>
									<label>UIMA CAS Dump</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="uimaBinaryCas">
							<xs:annotation>
								<xs:appinfo>
									<label>UIMA Binary CAS</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sizePerTextFormat" type="ms:sizeInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides information on the size of the resource parts with different format</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<inline-type>tabular</inline-type>
						<label>Size per text format</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="structuralEncodingInfoType">
		<xs:annotation/>
		<xs:sequence>
			<xs:element name="structuralEncoding">
				<xs:annotation>
					<xs:documentation>Information on whether the structure of the corpus documents is formally encoded and the scheme used for this</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Structural encoding</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="schemeName" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="jats"/>
										<xs:enumeration value="teiP5"/>
										<xs:enumeration value="other"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="sizePerStructuralEncoding" type="ms:sizeInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides information on the size of the resource parts with different format</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<inline-type>tabular</inline-type>
						<label>Size per text format</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="textClassificationInfoType">
		<xs:sequence>
			<xs:element name="keywords">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:keyword" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>For corpora that have already been using keywords classification</xs:documentation>
								<xs:appinfo>
									<label>Keyword</label>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:textGenre" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Genre: The conventionalized discourse or text types of the content of the resource, based on extra-linguistic and internal linguistic criteria</xs:documentation>
					<xs:appinfo>
						<label>Text genre</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:textType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the type of the text according to a text type classification</xs:documentation>
					<xs:appinfo>
						<label>Text type</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:register" minOccurs="0">
				<xs:annotation>
					<xs:documentation>For corpora that have already been using register classification</xs:documentation>
					<xs:appinfo>
						<label>Register</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:subject" minOccurs="0">
				<xs:annotation>
					<xs:documentation>For corpora that have already been using subject classification</xs:documentation>
					<xs:appinfo>
						<label>Subject</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sizePerTextClassification" type="ms:sizeInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides information on size of resource parts with different text classification</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<inline-type>tabular</inline-type>
						<label>Size per text classification</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- elements -->
	<xs:element name="textFormatInfo" type="ms:textFormatInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the text format(s) of a resource</xs:documentation>
			<xs:appinfo>
				<label>Text format</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="structuralEncodingInfo" type="ms:structuralEncodingInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the encoding of the structure of the contents of the corpus</xs:documentation>
			<xs:appinfo>
				<label>Structural encoding</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="textGenre">
		<xs:annotation>
			<xs:documentation>Genre: The conventionalized discourse or text types of the content of the resource, based on extra-linguistic and internal linguistic criteria</xs:documentation>
			<xs:appinfo>
				<label>Text genre</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="classificationSchemeName" type="ms:classificationSchemeName" use="required"/>
					<xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="textType">
		<xs:annotation>
			<xs:documentation>Specifies the type of the text according to a text type classification</xs:documentation>
			<xs:appinfo>
				<label>Text type</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="classificationSchemeName" type="ms:classificationSchemeName" use="required"/>
					<xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="textClassificationInfo" type="ms:textClassificationInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on text type/genre of the resource</xs:documentation>
			<xs:appinfo>
				<label>Text classification</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
</xs:schema>
