Schema/OMTD-SHARE-Component.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by ﻿pl (pl) -->
<xs:schema xmlns:ms="http://www.meta-share.org/OMTD-SHARE_XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.meta-share.org/OMTD-SHARE_XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0" xml:lang="en">
	<xs:include schemaLocation="./OMTD-SHARE-GlobalTypes.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-ResourceCommon.xsd"/>
	<xs:complexType name="componentInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{identificationInfo/resourceName}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="resourceType" fixed="component">
				<xs:annotation>
					<xs:documentation>Specifies the type of the resource being described</xs:documentation>
					<xs:appinfo>
						<label>Resource type</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="component">
							<xs:annotation>
								<xs:documentation>A piece of  software typically for a specific technical purpose, such as a particular implementation of a part-of-speech tagger (e.g TreeTagger), a tree parsing program (e.g. mstparser), etc.; it is wrapped in a standard way within a particular component-oriented framework such as UIMA, GATE, etc. or as a specific type of web service.</xs:documentation>
								<xs:appinfo>
									<label>Component</label>
									<label-plural>Components</label-plural>
									<usage>Show the hierarchy in the forms, using 'broader' relations; if possible, put synonyms (exactMatch) inside parentheses</usage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="ms:identificationInfo"/>
			<xs:element ref="ms:versionInfo"/>
			<xs:element ref="ms:contactInfo"/>
			<xs:element ref="ms:resourceDocumentationInfo" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<recommended>true</recommended>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:resourceCreationInfo" minOccurs="0"/>
			<xs:element name="validationInfos" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:validationInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:usageInfo" minOccurs="0"/>
			<xs:element name="application" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Indicates whether the component can be used as an integrated end-user application</xs:documentation>
					<xs:appinfo>
						<label>Application</label>
						<label-plural>Applications</label-plural>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="functionInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="function" type="ms:operationType">
							<xs:annotation>
								<xs:documentation>Specifies the operation/function/task the component/application performs</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Type of operation</label>
									<label-plural>Types of operation</label-plural>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="functionTypeOther" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--
			<xs:element name="workflow" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether the component is a workflow, i.e. consists of other components in a linear or branching execution</xs:documentation>
					<xs:appinfo>
						<label>Workflow</label>
						<label-plural>Workflows</label-plural>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="workflowDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reserved for the description of workflow (most probably in Galaxy); provides information on the components that the workflow consists of and how it should be executed</xs:documentation>
					<xs:appinfo>
						<label>Workflow description</label>
						<label-plural>Workflow descriptions</label-plural>
						<usage>Show only if workflow=yes; mandatory for workflows</usage>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
-->
			<xs:element name="distributionInfos">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:componentDistributionInfo" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:rightsInfo"/>
			<xs:element name="parameterInfos" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:parameterInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="inputContentResourceInfo" type="ms:processingResourceInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Groups together information on the requirements set on the input resource of a component</xs:documentation>
					<xs:appinfo>
						<label>Information on input</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="outputResourceInfo" type="ms:processingResourceInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Groups together information on the output of a component</xs:documentation>
					<xs:appinfo>
						<label>Information on output</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="previousAnnotationTypesPolicy" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="keep"/>
						<xs:enumeration value="modify"/>
						<xs:enumeration value="drop"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="componentDependencies" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:typesystem" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element ref="ms:annotationSchema" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="annotationResources" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ms:annotationResource" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="mlModel" type="ms:relatedResourceType" minOccurs="0"/>
						<xs:element name="softwareLibraries" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="requiresSoftware" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<!--
						<xs:element ref="ms:requiresHardware" minOccurs="0" maxOccurs="unbounded"/>-->
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- to be used for workflows -->
			<!--
			<xs:element name="componentParametrisedResources" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:typesystem" minOccurs="0"/>
						<xs:element name="model" type="ms:relatedResourceType" minOccurs="0"/>
						<xs:element ref="ms:tagset" minOccurs="0"/>
						<xs:element ref="ms:annotationResource" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
-->
			<xs:element ref="ms:componentCreationInfo">
				<xs:annotation>
					<xs:appinfo>
						<recommended>true</recommended>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="keywords" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:keyword" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="domains" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:domain" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="scmInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information about the SCM (Software Configuration Management, also called Source Code/Control Management or, succinctly, version control)</xs:documentation>
					<xs:appinfo>
						<label>SCM information</label>
						<commentsOnSource>taken as is from POM xml</commentsOnSource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="connection" type="xs:string">
							<xs:annotation>
								<xs:documentation>The source control management system URL that describes the repository and how to connect to the repository.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="developerConnection" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Just like connection, but for developers, i.e. this scm connection will not be read only.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="tag" type="xs:string" default="HEAD" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The tag of current code. By default, it's set to HEAD during development.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="url" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The URL to the project's browsable SCM repository, such as ViewVC or Fisheye.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="issueManagementInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information about the issue tracking (or bug tracking) system used to manage the resource.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="system" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The name of the issue management system, e.g. Bugzilla</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="url" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>URL for the issue management system used by the project.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="relations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:relationInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:componentEvaluationInfo" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="parameterInfoType">
		<xs:sequence>
			<xs:element name="parameterName" type="xs:string">
				<xs:annotation>
					<xs:documentation>A name used to identify the parameter</xs:documentation>
					<xs:appinfo>
						<label>Parameter name</label>
						<label-plural>Parameter names</label-plural>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="parameterLabel" type="xs:string">
				<xs:annotation>
					<xs:documentation>A label used to show to the user for the parameter</xs:documentation>
					<xs:appinfo>
						<label>Parameter label</label>
						<label-plural>Parameter labels</label-plural>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="parameterDescription" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides a short account of the parameter (function it performs, input / output requirements etc.) in free text</xs:documentation>
					<xs:appinfo>
						<label>Description of the parameter</label>
						<label-plural>Descriptions of the parameter</label-plural>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="parameterType">
				<xs:annotation>
					<xs:documentation>Classifies the parameter according to a specific (not yet standardised) typing system (e.g. whether it's boolean, string, integer, a document, mapping etc.)</xs:documentation>
					<xs:appinfo>
						<label>Parameter type</label>
						<label-plural>Parameter types</label-plural>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="data"/>
						<xs:enumeration value="string">
							<xs:annotation>
								<xs:documentation>Value for parameter type, indicating that the parameter takes free text as input</xs:documentation>
								<xs:appinfo>
									<label>string</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="integer">
							<xs:annotation>
								<xs:documentation>Value for parameter type, indicating that the parameter takes integers as input</xs:documentation>
								<xs:appinfo>
									<label>integer</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="boolean">
							<xs:annotation>
								<xs:documentation>Value for parameter type, indicating that the parameter takes boolean values as input</xs:documentation>
								<xs:appinfo>
									<label>boolean</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="float">
							<xs:annotation>
								<xs:documentation>Value for parameter type, indicating that the parameter takes floating-point numbers as input</xs:documentation>
								<xs:appinfo>
									<label>float</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="other">
							<xs:annotation>
								<xs:documentation>Value for parameter type;  to be used when the desired value is not included in the listed values</xs:documentation>
								<xs:appinfo>
									<label>other</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="url"/>
						<xs:enumeration value="document"/>
						<xs:enumeration value="corpora"/>
						<xs:enumeration value="component"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="optional" type="xs:boolean" default="true">
				<xs:annotation>
					<xs:documentation>Specifies whether the parameter is mandatory or optional; the default value is set to true</xs:documentation>
					<xs:appinfo>
						<label>Optional</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="multiValue" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>Specifies whether the parameter takes a list of values; the default value is set to false</xs:documentation>
					<xs:appinfo>
						<label>Multi-value</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="defaultValue" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Used for parameters that take a list of values in order to indicate the default value(s)</xs:documentation>
					<xs:appinfo>
						<label>Parameter default value</label>
						<label-plural>Parameter default values</label-plural>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataFormats" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:dataFormatInfo"/>
						<xs:element name="dataFormat" type="ms:dataFormatType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="processingResourceInfoType">
		<xs:sequence>
			<xs:element name="processingResourceTypes">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="processingResourceType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The type of the resource that a component takes as input or produces as output</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Processing resource type</label>
									<label-plural>Processing resource types</label-plural>
									<default>document</default>
									<change>true</change>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
									<xs:enumeration value="corpus">
										<xs:annotation>
											<xs:documentation>For components that take as input or produce as output a set of documents (corpus)</xs:documentation>
											<xs:appinfo>
												<label>Corpus</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="document">
										<xs:annotation>
											<xs:documentation>For components that take as input or produce as output a single document</xs:documentation>
											<xs:appinfo>
												<label>Document</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="userInputText">
										<xs:annotation>
											<xs:documentation>For components that take as input a text typed in by the user</xs:documentation>
											<xs:appinfo>
												<label>User input text</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="lexicalConceptualResource">
										<xs:annotation>
											<xs:documentation>For components that take as input a lexical or conceptual resource (e.g. lexicon, term list, ontology etc.) in order to perform operations on it or produce it as an output (e.g. a converter between two lexica or an extractor of lemmas from documents)</xs:documentation>
											<xs:appinfo>
												<label>Lexical/Conceptual resource</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="languageDescription">
										<xs:annotation>
											<xs:documentation>For components that take as input (in order to perform operations on it) or produce as output a language description (e.g. a grammar or a machine learning model); examples include converters between two grammars, a ML model trainer, etc.</xs:documentation>
											<xs:appinfo>
												<label>Language description</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--
			<xs:element ref="ms:mediaType">
				<xs:annotation>
					<xs:documentation>The media type of the resource that a component takes as input or produces as output</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
						<label>Processing resource media type</label>
						<label-plural>Processing resource media types</label-plural>
						<default>text</default>
						<change>false</change>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
-->
			<xs:element name="dataFormats" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dataFormat" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Specifies the format that is used since often the mime type will not be sufficient for machine processing; NOTE: normally the format should be represented as a combination of the mimetype (e.g. application/xml) and some name and link to the documentation about the supplementary conventions used (e.g xces, alvisED etc.)</xs:documentation>
								<xs:appinfo>
									<xs:label>Data format</xs:label>
									<usage-ugc>Automatically filled in with the dataFormat of the publications</usage-ugc>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="ms:dataFormatType">
									<xs:maxLength value="100"/>
									<xs:enumeration value="text/plain">
										<xs:annotation>
											<xs:appinfo>
												<label>Plain text</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/vnd.xmi+xml">
										<xs:annotation>
											<xs:appinfo>
												<label>XMI</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/xml">
										<xs:annotation>
											<xs:appinfo>
												<label>XML</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/x-xces+xml">
										<xs:annotation>
											<xs:appinfo>
												<label>XCES</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/tei+xml">
										<xs:annotation>
											<xs:appinfo>
												<label>TEI</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/rdf+xml">
										<xs:annotation>
											<xs:appinfo>
												<label>RDF</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/xhtml+xml">
										<xs:annotation>
											<xs:appinfo>
												<label>XHTML</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/emma+xml">
										<xs:annotation>
											<xs:appinfo>
												<label>EMMA</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/pls+xml">
										<xs:annotation>
											<xs:appinfo>
												<label>PLS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/postscript">
										<xs:annotation>
											<xs:appinfo>
												<label>postscript</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="text/sgml">
										<xs:annotation>
											<xs:appinfo>
												<label>SGML</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="text/html">
										<xs:annotation>
											<xs:appinfo>
												<label>HTML</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/x-tex">
										<xs:annotation>
											<xs:appinfo>
												<label>TEX</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/rtf">
										<xs:annotation>
											<xs:appinfo>
												<label>RTF</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/json+ld">
										<xs:annotation>
											<xs:appinfo>
												<label>JSON/LD</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/x-latex">
										<xs:annotation>
											<xs:appinfo>
												<label>LATEX</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="text/csv">
										<xs:annotation>
											<xs:appinfo>
												<label>CSV (Comma Separated Values)</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="text/tab-separated-values">
										<xs:annotation>
											<xs:appinfo>
												<label>TSV (Tab Separated Values)</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/pdf">
										<xs:annotation>
											<xs:appinfo>
												<label>PDF</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/x-msaccess">
										<xs:annotation>
											<xs:appinfo>
												<label>MS-Access database</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/msword">
										<xs:annotation>
											<xs:appinfo>
												<label>MS-Word</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/vnd.ms-excel">
										<xs:annotation>
											<xs:appinfo>
												<label>MS-Excel</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="text/turtle">
										<xs:annotation>
											<xs:appinfo>
												<label>Turtle</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="aclAnthology">
										<xs:annotation>
											<xs:appinfo>
												<label>ACL anthology</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="alvisEnrichedDocument">
										<xs:annotation>
											<xs:appinfo>
												<label>ALVIS Enriched Document</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="bnc">
										<xs:annotation>
											<xs:appinfo>
												<label>BNC</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="bioNLP">
										<xs:annotation>
											<xs:appinfo>
												<label>BioNLP Shared Task</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="bioNLP; format-variant=ST2013a1_a2">
										<xs:annotation>
											<xs:appinfo>
												<label>BioNLP Shared Task 2013 a1/a2</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="cadixeJSON">
										<xs:annotation>
											<xs:appinfo>
												<label>Cadixe</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="conll2000">
										<xs:annotation>
											<xs:appinfo>
												<label>CoNLL 2000</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="conll2002">
										<xs:annotation>
											<xs:appinfo>
												<label>CoNLL 2002</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="conll2006">
										<xs:annotation>
											<xs:appinfo>
												<label>CoNLL 2006</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="conll2007">
										<xs:annotation>
											<xs:appinfo>
												<label>CoNLL 2007</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="conll2009">
										<xs:annotation>
											<xs:appinfo>
												<label>CoNLL 2009</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="conll2012">
										<xs:annotation>
											<xs:appinfo>
												<label>CoNLL 2012</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="dataSift">
										<xs:annotation>
											<xs:appinfo>
												<label>DataSift</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="factoredTagLem">
										<xs:annotation>
											<xs:appinfo>
												<label>Factored Tag Lemma</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="gate">
										<xs:annotation>
											<xs:appinfo>
												<label>GATE</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="genia">
										<xs:annotation>
											<xs:appinfo>
												<label>Genia</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="graf">
										<xs:annotation>
											<xs:appinfo>
												<label>GrAF</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="html5Microdata">
										<xs:annotation>
											<xs:appinfo>
												<label>HTML5 Microdata</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="i2b2">
										<xs:annotation>
											<xs:appinfo>
												<label>I2B2</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="imsCwb">
										<xs:annotation>
											<xs:appinfo>
												<label>IMS CorpusWorkBench</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="jdbc">
										<xs:annotation>
											<xs:appinfo>
												<label>JAVA Database Connectivity</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="keaCorpus">
										<xs:annotation>
											<xs:appinfo>
												<label>KEA corpus</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="lll">
										<xs:annotation>
											<xs:appinfo>
												<label>LLL</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="negraExport">
										<xs:annotation>
											<xs:appinfo>
												<label>NEGRA export</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="ptb; format-variant=chunked">
										<xs:annotation>
											<xs:appinfo>
												<label>Penn Treebank Chunked</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="ptb; format-variant=combined">
										<xs:annotation>
											<xs:appinfo>
												<label>Penn Treebank Combined</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="pml">
										<xs:annotation>
											<xs:appinfo>
												<label>Prague Markup Language</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="relp">
										<xs:annotation>
											<xs:appinfo>
												<label>RELP</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="aimedCorpus">
										<xs:annotation>
											<xs:appinfo>
												<label>AIMED Corpus</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="tiger">
										<xs:annotation>
											<xs:appinfo>
												<label>Tiger</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="tupp-dz">
										<xs:annotation>
											<xs:appinfo>
												<label>TüPP-D/Z corpus</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="twitter">
										<xs:annotation>
											<xs:appinfo>
												<label>Twitter</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="xces; format-variant=ilsp">
										<xs:annotation>
											<xs:appinfo>
												<label>XCES - ILSP Variant</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="web1t">
										<xs:annotation>
											<xs:appinfo>
												<label>Web1T corpus</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="uimaCASDump">
										<xs:annotation>
											<xs:appinfo>
												<label>UIMA CAS Dump</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="uimaBinaryCas">
										<xs:annotation>
											<xs:appinfo>
												<label>UIMA Binary CAS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="dataFormatOther" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="characterEncodings" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:characterEncoding" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="languages" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:language" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:annotationTypes" minOccurs="0">
			</xs:element>
			<xs:element ref="ms:typesystem" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<recommended>true</recommended>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<!--
			<xs:element name="annotationLevels" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:annotationLevel" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
-->
			<xs:element ref="ms:annotationSchema" minOccurs="0"/>
			<xs:element ref="ms:annotationResource" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<recommended>true</recommended>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:samplesLocation" minOccurs="0"/>
			<!--
			<xs:element name="textGenres" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:textGenre" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="textTypes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:textType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="registers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:register" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="subjects" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:subject" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
-->
			<!--
			<xs:element name="modalityTypes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:modalityType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="componentEvaluationInfoType">
		<xs:sequence>
			<xs:element name="evaluated" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Indicates whether the component has been evaluated</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Evaluated</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="evaluationLevels" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="evaluationLevel" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Indicates the evaluation level</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Evaluation level</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
									<xs:enumeration value="technological"/>
									<xs:enumeration value="usage"/>
									<xs:enumeration value="impact"/>
									<xs:enumeration value="diagnostic"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="evaluationTypes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="evaluationType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Indicates the evaluation type</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Evaluation type</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
									<xs:enumeration value="glassBox"/>
									<xs:enumeration value="blackBox"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="evaluationCriteria" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="evaluationCriterion" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Defines the criteria of the evaluation of a tool</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Evaluation criteria</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
									<xs:enumeration value="extrinsic"/>
									<xs:enumeration value="intrinsic"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="evaluationMeasures" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="evaluationMeasure" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Defines whether the evaluation measure is human or automatic</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Evaluation measure</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
									<xs:enumeration value="human"/>
									<xs:enumeration value="automatic"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="goldStandardLocation" type="ms:httpURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Link to the location of a Gold Standard dataset that can be used for evaluating the component</xs:documentation>
					<xs:appinfo>
						<label>Gold Standard Location</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="performanceIndicators" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="performanceIndicatorInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Information on metrics that can be used as performance indicators of the component</xs:documentation>
								<xs:appinfo>
									<label>Performance indicator</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="metric">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="MAD">
													<xs:annotation>
														<xs:documentation>Mean annotations per document</xs:documentation>
														<xs:appinfo>
															<label>Mean annotations per document</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="MTDV">
													<xs:annotation>
														<xs:documentation>Mean time per document volume</xs:documentation>
														<xs:appinfo>
															<label>Mean time per document volume</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="MTSA">
													<xs:annotation>
														<xs:documentation>Mean time seek annotations</xs:documentation>
														<xs:appinfo>
															<label>Mean time seek annotations</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="ART">
													<xs:annotation>
														<xs:documentation>Average response time</xs:documentation>
														<xs:appinfo>
															<label>Average response time</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="MTBF">
													<xs:annotation>
														<xs:documentation>Mean time between failures</xs:documentation>
														<xs:appinfo>
															<label>Mean time between failures</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="MTTR">
													<xs:annotation>
														<xs:documentation>Mean time to repair</xs:documentation>
														<xs:appinfo>
															<label>Mean time to repair</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="other">
													<xs:annotation>
														<xs:documentation>Value to be used when no other value is applicable</xs:documentation>
														<xs:appinfo>
															<label>Other</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="measure" type="xs:decimal">
										<xs:annotation>
											<xs:documentation>The measure calculated for the metric</xs:documentation>
											<xs:appinfo>
												<label>Measure</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="unit" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Unit of measure for the metric</xs:documentation>
											<xs:appinfo>
												<label>Unit</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="evaluationReports" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="hasEvaluationReport" type="ms:relatedDocumentInfoType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A bibliographical record of or link to a report describing the evaluation process, tool, method etc. of the component</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>many-to-many</relation>
									<label>Evaluation report</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="evaluationSwComponents" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="isEvaluatedBy" type="ms:relatedResourceType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The identifier of the component used for the evaluation of the component being described</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>many-to-many</relation>
									<label>Is evaluated by</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="evaluationDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides further information on the evaluation process of a component</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>one-to-one</relation>
						<label>Evaluation details</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="evaluators" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="evaluator" type="ms:actorInfoType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on person or organization that evaluated the component</xs:documentation>
								<xs:appinfo>
									<relation>many-to-many</relation>
									<label>Evaluator</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="componentOperationInfoType">
		<xs:sequence>
			<xs:element ref="ms:runningEnvironmentInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Groups together information on the running environment of a tool or a language description</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>one-to-one</relation>
						<label>Running environment</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="runningTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gives information on the running time of a component</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Running time</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="componentCreationInfoType">
		<xs:sequence>
			<xs:element name="framework">
				<xs:annotation>
					<xs:documentation>The framework used for developing and deploying the component</xs:documentation>
					<xs:appinfo>
						<label>framework</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="UIMA"/>
						<xs:enumeration value="GATE"/>
						<xs:enumeration value="AlvisNLP"/>
						<xs:enumeration value="Galaxy"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="formalism" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reference (name, bibliographic reference or link to url) for the formalism used for the creation/enrichment of the resource (grammar or tool/service)</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
						<label>Formalism</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="ms:TDMMethod" minOccurs="0"/>
			<xs:element name="implementationLanguage" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The programming languages needed for allowing user contributions, or for running the tools, in case no executables are available</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>one-to-many</relation>
						<label>Implementation language</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="ms:hasOriginalSource" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The name, the identifier or the url of thethe original resources that were at the base of the creation process of the resource</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
						<label>Original source</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="creationDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides additional information on the creation of a component</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Creation details</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- definition of elements -->
	<xs:element name="componentMetadataRecord">
		<xs:annotation>
			<xs:appinfo>
				<xs:label>Metadata record for components</xs:label>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ms:baseMetadataRecord">
					<xs:sequence>
						<xs:element ref="ms:componentInfo"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="componentInfo" type="ms:componentInfoType">
		<xs:annotation>
			<xs:documentation>Groups together all information related to software components</xs:documentation>
			<xs:appinfo>
				<label>Component</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="parameterInfo" type="ms:parameterInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on each parameter of a component</xs:documentation>
			<xs:appinfo>
				<label>Parameter</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="componentEvaluationInfo" type="ms:componentEvaluationInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on the evaluation status of a component</xs:documentation>
			<xs:appinfo>
				<label>Component evaluation</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="componentOperationInfo" type="ms:componentOperationInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on the operation of a component</xs:documentation>
			<xs:appinfo>
				<label>Component operation</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="componentCreationInfo" type="ms:componentCreationInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on the creation of a component</xs:documentation>
			<xs:appinfo>
				<label>Component creation</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
</xs:schema>
