Schema/OMTD-SHARE-Corpus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ms="http://www.meta-share.org/OMTD-SHARE_XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.meta-share.org/OMTD-SHARE_XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.0" xml:lang="en">
	<xs:include schemaLocation="./OMTD-SHARE-GlobalTypes.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-ResourceCommon.xsd"/>
	<xs:complexType name="corpusInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{identificationInfo/resourceName}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="resourceType" type="xs:string" fixed="corpus">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<label>Resource type</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:identificationInfo"/>
			<xs:element ref="ms:contactInfo" maxOccurs="1"/>
			<xs:element ref="ms:versionInfo"/>
			<xs:element name="validationInfos" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:validationInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:usageInfo" minOccurs="0"/>
			<xs:element ref="ms:resourceDocumentationInfo" minOccurs="0"/>
			<xs:element ref="ms:resourceCreationInfo" minOccurs="0"/>
			<xs:element name="distributionInfos">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:datasetDistributionInfo" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:rightsInfo">
				<xs:annotation>
					<xs:appinfo>
						<usage-ugc>To be automatically created by the system; use the values from the rightsInfo of the publications repeating them if there are multiple licenceInfo or rightsStatementsInfo with different values</usage-ugc>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="relations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:relationInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="corpusSubtypeSpecificInfo">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="ms:rawCorpusInfo" minOccurs="1"/>
						<xs:element ref="ms:annotatedCorpusInfo" minOccurs="1"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rawCorpusInfoType">
		<xs:annotation>
			<xs:documentation>Groups together all information related to raw corpora</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="corpusSubtype" type="xs:string" fixed="rawCorpus"/>
			<!-- left as a sequence for audio, video, image parts to be inserted again at a later stage -->
			<xs:element name="mediaType" type="xs:string" fixed="text">
				<xs:annotation>
					<xs:documentation>Specifies the media type of the resource and basically corresponds to the physical medium of the content representation. Each media type is described through a distinctive set of features. A resource may consist of parts attributed to different types of media. A tool/service may take as input/output more than one different media types.</xs:documentation>
					<xs:appinfo>
						<label>Media type</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:lingualityInfo">
				<xs:annotation>
					<xs:documentation>Groups information on the number of languages of the resource part and of the way they are combined to each other</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Linguality</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="languages">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:languageInfo" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on the languages represented in the resource</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Language</label>
									<recommended>true</recommended>
									<usage-ugc>To be created automatically by the system; create one for each language of the publications</usage-ugc>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sizes">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:sizeInfo" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on the size of the resource or of resource parts</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Size</label>
									<recommended>true</recommended>
									<usage-ugc>To be created automatically by the system using [number] with [file]</usage-ugc>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="textFormats" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:textFormatInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on the text format(s) of a resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Text format</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="characterEncodings" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:characterEncodingInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups together information on character encoding of the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Character encoding</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="textClassifications" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:textClassificationInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups together information on text type/genre of the resource</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Text classification</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="domains" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:domainInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups together information on domains represented in the resource; can be repeated for parts of the resource with distinct domain</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Domain</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="timeClassifications" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:timeCoverageInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups together information on time classification of the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Time coverage</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="geographicClassifications" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:geographicCoverageInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on geographic classification of the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Geographic coverage</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:creationInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Groups together information on the resource creation (e.g. for corpora, selection of texts/audio files/ video files etc.; for lexica, construction of lemma list etc.)</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>one-to-one</relation>
						<label>Creation</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="annotatedCorpusInfoType">
		<xs:annotation>
			<xs:documentation>Groups together all information related to annotated corpora</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="corpusSubtype" type="xs:string" fixed="annotatedCorpus"/>
			<!-- left as a sequence for audio, video, image parts to be inserted again at a later stage -->
			<xs:element name="mediaType" type="xs:string" fixed="text">
				<xs:annotation>
					<xs:documentation>Specifies the media type of the resource and basically corresponds to the physical medium of the content representation. Each media type is described through a distinctive set of features. A resource may consist of parts attributed to different types of media. A tool/service may take as input/output more than one different media types.</xs:documentation>
					<xs:appinfo>
						<label>Media type</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:lingualityInfo">
				<xs:annotation>
					<xs:documentation>Groups information on the number of languages of the resource part and of the way they are combined to each other</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Linguality</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="languages">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:languageInfo" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on the languages represented in the resource</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Language</label>
									<recommended>true</recommended>
									<usage-ugc>To be created automatically by the system; create one for each language of the publications</usage-ugc>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sizes">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:sizeInfo" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on the size of the resource or of resource parts</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Size</label>
									<recommended>true</recommended>
									<usage-ugc>To be created automatically by the system using [number] with [file]</usage-ugc>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="dataFormats" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dataFormat" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Specifies the format that is used since often the mime type will not be sufficient for machine processing; NOTE: normally the format should be represented as a combination of the mimetype (e.g. application/xml) and some name and link to the documentation about the supplementary conventions used (e.g xces, alvisED etc.)</xs:documentation>
								<xs:appinfo>
									<xs:label>Data format</xs:label>
									<usage-ugc>Automatically filled in with the dataFormat of the publications</usage-ugc>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
									<xs:enumeration value="text/plain">
										<xs:annotation>
											<xs:appinfo>
												<label>Plain text</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/vnd.xmi+xml">
										<xs:annotation>
											<xs:appinfo>
												<label>XMI</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/xml">
										<xs:annotation>
											<xs:appinfo>
												<label>XML</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/x-xces+xml">
										<xs:annotation>
											<xs:appinfo>
												<label>XCES</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/tei+xml">
										<xs:annotation>
											<xs:appinfo>
												<label>TEI</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/rdf+xml">
										<xs:annotation>
											<xs:appinfo>
												<label>RDF</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/xhtml+xml">
										<xs:annotation>
											<xs:appinfo>
												<label>XHTML</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/emma+xml">
										<xs:annotation>
											<xs:appinfo>
												<label>EMMA</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/pls+xml">
										<xs:annotation>
											<xs:appinfo>
												<label>PLS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/postscript">
										<xs:annotation>
											<xs:appinfo>
												<label>postscript</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="text/sgml">
										<xs:annotation>
											<xs:appinfo>
												<label>SGML</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="text/html">
										<xs:annotation>
											<xs:appinfo>
												<label>HTML</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/x-tex">
										<xs:annotation>
											<xs:appinfo>
												<label>TEX</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/rtf">
										<xs:annotation>
											<xs:appinfo>
												<label>RTF</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/json+ld">
										<xs:annotation>
											<xs:appinfo>
												<label>JSON/LD</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/x-latex">
										<xs:annotation>
											<xs:appinfo>
												<label>LATEX</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="text/csv">
										<xs:annotation>
											<xs:appinfo>
												<label>CSV (Comma Separated Values)</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="text/tab-separated-values">
										<xs:annotation>
											<xs:appinfo>
												<label>TSV (Tab Separated Values)</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/pdf">
										<xs:annotation>
											<xs:appinfo>
												<label>PDF</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/x-msaccess">
										<xs:annotation>
											<xs:appinfo>
												<label>MS-Access database</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/msword">
										<xs:annotation>
											<xs:appinfo>
												<label>MS-Word</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="application/vnd.ms-excel">
										<xs:annotation>
											<xs:appinfo>
												<label>MS-Excel</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="text/turtle">
										<xs:annotation>
											<xs:appinfo>
												<label>Turtle</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="aclAnthology">
										<xs:annotation>
											<xs:appinfo>
												<label>ACL anthology</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="alvisEnrichedDocument">
										<xs:annotation>
											<xs:appinfo>
												<label>ALVIS Enriched Document</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="bnc">
										<xs:annotation>
											<xs:appinfo>
												<label>BNC</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="bioNLP">
										<xs:annotation>
											<xs:appinfo>
												<label>BioNLP Shared Task</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="bioNLP; format-variant=ST2013a1_a2">
										<xs:annotation>
											<xs:appinfo>
												<label>BioNLP Shared Task 2013 a1/a2</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="cadixeJSON">
										<xs:annotation>
											<xs:appinfo>
												<label>Cadixe</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="conll2000">
										<xs:annotation>
											<xs:appinfo>
												<label>CoNLL 2000</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="conll2002">
										<xs:annotation>
											<xs:appinfo>
												<label>CoNLL 2002</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="conll2006">
										<xs:annotation>
											<xs:appinfo>
												<label>CoNLL 2006</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="conll2007">
										<xs:annotation>
											<xs:appinfo>
												<label>CoNLL 2007</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="conll2009">
										<xs:annotation>
											<xs:appinfo>
												<label>CoNLL 2009</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="conll2012">
										<xs:annotation>
											<xs:appinfo>
												<label>CoNLL 2012</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="dataSift">
										<xs:annotation>
											<xs:appinfo>
												<label>DataSift</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="factoredTagLem">
										<xs:annotation>
											<xs:appinfo>
												<label>Factored Tag Lemma</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="gate">
										<xs:annotation>
											<xs:appinfo>
												<label>GATE</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="genia">
										<xs:annotation>
											<xs:appinfo>
												<label>Genia</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="graf">
										<xs:annotation>
											<xs:appinfo>
												<label>GrAF</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="html5Microdata">
										<xs:annotation>
											<xs:appinfo>
												<label>HTML5 Microdata</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="i2b2">
										<xs:annotation>
											<xs:appinfo>
												<label>I2B2</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="imsCwb">
										<xs:annotation>
											<xs:appinfo>
												<label>IMS CorpusWorkBench</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="jdbc">
										<xs:annotation>
											<xs:appinfo>
												<label>JAVA Database Connectivity</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="keaCorpus">
										<xs:annotation>
											<xs:appinfo>
												<label>KEA corpus</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="lll">
										<xs:annotation>
											<xs:appinfo>
												<label>LLL</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="negraExport">
										<xs:annotation>
											<xs:appinfo>
												<label>NEGRA export</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="ptb; format-variant=chunked">
										<xs:annotation>
											<xs:appinfo>
												<label>Penn Treebank Chunked</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="ptb; format-variant=combined">
										<xs:annotation>
											<xs:appinfo>
												<label>Penn Treebank Combined</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="pml">
										<xs:annotation>
											<xs:appinfo>
												<label>Prague Markup Language</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="relp">
										<xs:annotation>
											<xs:appinfo>
												<label>RELP</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="aimedCorpus">
										<xs:annotation>
											<xs:appinfo>
												<label>AIMED Corpus</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="tiger">
										<xs:annotation>
											<xs:appinfo>
												<label>Tiger</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="tupp-dz">
										<xs:annotation>
											<xs:appinfo>
												<label>TüPP-D/Z corpus</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="twitter">
										<xs:annotation>
											<xs:appinfo>
												<label>Twitter</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="xces; format-variant=ilsp">
										<xs:annotation>
											<xs:appinfo>
												<label>XCES - ILSP Variant</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="web1t">
										<xs:annotation>
											<xs:appinfo>
												<label>Web1T corpus</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="uimaCASDump">
										<xs:annotation>
											<xs:appinfo>
												<label>UIMA CAS Dump</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="uimaBinaryCas">
										<xs:annotation>
											<xs:appinfo>
												<label>UIMA Binary CAS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="annotations">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:annotationInfo" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:characterEncoding" minOccurs="0"/>
			<xs:element name="textClassifications" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:textClassificationInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups together information on text type/genre of the resource</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Text classification</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="domains" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:domainInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups together information on domains represented in the resource; can be repeated for parts of the resource with distinct domain</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Domain</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="timeClassifications" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:timeCoverageInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups together information on time classification of the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Time coverage</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="geographicClassifications" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:geographicCoverageInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on geographic classification of the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Geographic coverage</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="corpusTextPartInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>text ({lingualityInfo} {languageInfo})</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<!--
			<xs:element name="modalities" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:modalityInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on the modalities represented in the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Modality</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="annotationsInfoType">
		<xs:sequence>
			<xs:element name="corpusSubtype" type="xs:string" fixed="annotations"/>
			<xs:element name="rawCorpus" type="ms:relatedResourceType"/>
			<xs:element ref="ms:annotationInfo"/>
		</xs:sequence>
	</xs:complexType>
	<!-- definition of elements -->
	<xs:element name="corpusMetadataRecord">
		<xs:annotation>
			<xs:appinfo>
				<xs:label>Metadata record for corpora</xs:label>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ms:baseMetadataRecord">
					<xs:sequence>
						<xs:element ref="ms:corpusInfo"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="corpusInfo" type="ms:corpusInfoType">
		<xs:annotation>
			<xs:documentation>Groups together all information related to corpora</xs:documentation>
			<xs:appinfo>
				<label>Corpus</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="corpusTextPartInfo" type="ms:corpusTextPartInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on the text component of a resource</xs:documentation>
			<xs:appinfo>
				<label>Corpus text part</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="rawCorpusInfo" type="ms:rawCorpusInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on corpora of all media types</xs:documentation>
			<xs:appinfo>
				<label>Raw corpus</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="annotatedCorpusInfo" type="ms:annotatedCorpusInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on annotated corpora of all media types</xs:documentation>
			<xs:appinfo>
				<label>Annotated corpus</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="annotationsInfo" type="ms:annotationsInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on annotations</xs:documentation>
			<xs:appinfo>
				<label>Annotations</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
</xs:schema>
